@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);


#allthethings {
    width:0px;
    height:0px;
    
    border-left: 300px solid transparent;
    border-right:300px  solid transparent;
    border-top: 300px  solid transparent;
    border-radius: px;
    position:relative;
    margin:auto;
    top:5px;
    left:10px;
}

#start {
  
    position:relative;
    bottom:270px; 
    right:550px;
    height:50px;
    width:200px;
    text-align:center;
    font-size:70px;
    -webkit-transition:0.3s;
    transition:0.3s;
    color:rgb(236, 0, 197);
    font-family:PixelFont;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -moz-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    -webkit-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    text-shadow: -10px -5px 5px rgba(0,0,0,1);
    
    cursor:pointer; 
}

#start:hover {
    color:rgb(145, 68, 190);
    transform:scale(1.25);   
}

#level {
    position:relative;
    bottom:270px; /*bottom:330px;*/ 
    right:600px;
    height:50px;
    width:300px;
    font-size:60px;
    text-align:center;
    font-family:PixelFont;
    color:rgb(236, 0, 197);
    -webkit-transition:0.3s;
    transition:0.3s;

    -moz-border-radius: 10px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -moz-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    -webkit-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    text-shadow: -10px -5px 5px rgba(0,0,0,1);

    cursor:pointer; 
}


#level:hover {
    color:rgb(145, 68, 190);
    transform:scale(1.25);  
}

#credits {
    position:relative;
    bottom:270px;
    right:550px;
    height:50px;
    width:200px;
    font-size:60px;
    text-align:center;
    font-family:Pixelfont;
    color:rgb(236, 0, 197);
    -webkit-transition:0.3s;
    transition:0.3s;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -moz-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    -webkit-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    text-shadow: -10px -5px 5px rgba(0,0,0,1);

    cursor:pointer;
}

#credits p {
    position:relative;
    top:0px;
  
}

#credits:hover {
    color:rgb(145, 68, 190);
    transform:scale(1.25); 
}



#l1 {
    position:relative;
    bottom:250px; 
    left:-350px;
    height:80px;
    width:50px;
    text-align:center;
    font-size:70px;
    -webkit-transition:0.3s;
    transition:0.3s;
    color:rgb(168, 23, 144);
    font-family:PixelFont;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -moz-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    -webkit-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    text-shadow: -10px -5px 5px rgba(0,0,0,1);

    cursor:pointer;
}

#l1:hover {
    color:rgb(177, 63, 212);
    transform:scale(1.5);
}

#l2 {  
    position:relative;
    bottom:400px; 
    left:80px;
    height:80px;
    width:50px;
    text-align:center;
    font-size:70px;
    -webkit-transition:0.3s;
    transition:0.3s;
    color:rgb(168, 23, 144);
    font-family:PixelFont;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -moz-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    -webkit-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    text-shadow: -10px -5px 5px rgba(0,0,0,1);
    
    cursor:pointer;
}

#l2:hover {
    color:rgb(177, 63, 212);
    transform:scale(1.5);
}

#l3 {  
    position:relative;
    bottom:400px;
    left:80px;
    height:80px;
    width:50px;
    text-align:center;
    font-size:70px;
    -webkit-transition:0.3s;
    transition:0.3s;
    color:rgb(168, 23, 144);
    font-family:PixelFont;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -moz-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    -webkit-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    text-shadow: -10px -5px 5px rgba(0,0,0,1);

    cursor:pointer; 
}

#l3:hover {
    color:rgb(177, 63, 212);
    transform:scale(1.5);
}

#l4 {  
    position:relative;
    bottom:250px; /*bottom:330px;*/ 
    left:-350px;
    height:80px;
    width:50px;
    text-align:center;
    font-size:70px;
    -webkit-transition:0.3s;
    transition:0.3s;
    color:rgb(168, 23, 144);
    font-family:PixelFont;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -moz-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    -webkit-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    text-shadow: -10px -5px 5px rgba(0,0,0,1);
    
    cursor:pointer; 
}

#l4:hover {
    color:rgb(177, 63, 212);
    transform:scale(1.5);
}

#backmenu {  
    position:relative;
    bottom:100px;
    left:-600px;
    height:50px;
    width:100px;
    text-align:center;
    font-size:50px;
    -webkit-transition:0.3s;
    transition:0.3s;
    color:rgb(255, 94, 0);
    font-family:PixelFont;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -moz-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    -webkit-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    text-shadow: -10px -5px 5px rgba(0,0,0,1);
    
    cursor:pointer;  
}

#backmenu:hover {
    color:rgb(219, 5, 5);
    transform:scale(1.5);
}


#backmenucredits { 
    position: absolute;
    bottom:25%;
    left:10%;
    height:50px;
    width:50px;
    text-align:center;
    font-size:50px;
    -webkit-transition:0.3s;
    transition:0.3s;
    color:rgb(8, 211, 150);
    font-family:PixelFont;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -moz-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    -webkit-text-shadow: -10px -5px 5px rgba(0,0,0,1);
    text-shadow: -10px -5px 5px rgba(0,0,0,1);
    
    cursor:pointer;
}

#backmenucredits:hover {
    color:rgb(23, 5, 122);
    transform:scale(1.5);
}


#myDiv{
    position:absolute;
    bottom:80%;
    left:26%;
    height:40px;
    width:700px;
    font-size:30px;
    text-align:center;
    font-family:Pixelfont;
    color:rgb(23, 5, 122);
    -webkit-transition:0.3s;
    transition:0.3s;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -moz-text-shadow: -10px -5px 5px rgb(90, 88, 88);
    -webkit-text-shadow: -10px -5px 5px rgb(90, 88, 88);
    text-shadow: -10px -5px 5px rgba(90, 88, 88);

    cursor:pointer;
}